/.venv
/core/__pycache__
/core/*.pyc
/core/*.pyo
/core/*.pyd
/elearning_platform/__pycache__
/elearning_platform/*.pyc
/elearning_platform/*.pyo
/elearning_platform/*.pyd
core/__pycache__
core/__pycache__/urls.cpython-312.pyc
core/__pycache__/views.cpython-312.pyc
