/.venv
/core/__pycache__
/core/*.pyc
/core/*.pyo
/core/*.pyd
/elearning_platform/__pycache__
/elearning_platform/*.pyc
/elearning_platform/*.pyo
/elearning_platform/*.pyd
/core/__pycache__/*.pyc
/core/__pycache__/*.pyo
/core/__pycache__/*.pyd
core/templatetags/__pycache__/*.pyc
core/templatetags/__pycache__/*.pyo
core/templatetags/__pycache__/*.pyd
